<div id="search" data-target="search" class="blog-search">
    <div class="menu-header">
        <span class="menu-label">Search</span>
        <a class="menu-close" data-action="menu" data-target="search"></a>
    </div>
    <div class="overlay-inner-content">
        <div class="search-box">

            <p class="info-text">Search is done by <a href="https://github.com/jamalneufeld/ghostHunter" target="_blank">GhostHunter</a></p>
        </div>


        <div class="search-results">

        </div>
    </div>
</div>
